@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.clearfix {
    display: inline-block;
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}