@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url('../fonts/OpenSans-BoldItalic.eot');
  src: url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
       url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
       url('../fonts/OpenSans-BoldItalic.ttf') format('truetype'),
       url('../fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg'),
       url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


body {
    background: rgba(193, 85, 85, 0.7);
    font-family: 'OpenSans-BoldItalic';
}

/* Border-radius */
.custom-input {
    /*border-radius: 10px 5px 20px 0;*/
    /*border-radius: 10px;*/
    border-radius: 10px 20px;
    margin: 20px;
}

/* Backgrund-size: cover/contain; 
   Box-shadow
*/
.div-test {
    width: 200px;
    height: 300px;
    background-color: red;
    background-image: url(../images/jerry.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 2px 10px 25px black;
    opacity: 0.7;
}

/* Text-shadow */
.text-shadow {
    text-shadow: 2px 10px 5px red;
}

.text {
    width: 34px;
    /*word-break: break-all;*/
    text-overflow: ellipsis;
    overflow: hidden;
}

.box {
    width: 200px;
    height: 150px;
    background: purple;
    padding: 10px;
    box-sizing: border-box;
}

.custom-ul li {
    color: blue;
}

/* First child from ul*/
.custom-ul li:first-child {
    color: black;
}

/* Last child from ul*/
.custom-ul li:last-child {
    color: red;
}

/* 3rd child from ul */
.custom-ul li:nth-child(3) {
    color: purple;
}

/* 2,4 child from ul*/
.custom-ul li:nth-child(2n) {
    color: orange;
}

.custom-ul li:nth-child(2n+1) {
    color: grey;
}

/* 2D */
/* Translate */
.translate {
    width: 100px;
    height: 100px;
    background-color: yellow;
    transform: translate(20px, 50px); /* Standard syntax */
}

/* Rotate */
.rotate {
    width: 100px;
    height: 100px;
    background-color: yellow;
    transform: rotate(20deg);
    margin: 100px 0 0 50px;
}

/* Rotate */
.scale {
    width: 100px;
    height: 100px;
    background-color: yellow;
    transform: scale(1.2, 1.5);  /* scale(width, height) */
    margin: 100px 0 20px 50px;
}


/* 3D */
.rotate3D {
    width: 100px;
    height: 100px;
    background-color: black;
    transform: rotateZ(80deg); /*rotateX, rotateY, scaleX, scaleY, scaleZ */
    color: red;
}

.transition {
    width: 100px;
    height: 100px;
    background: orange;
    transition: height 3s, width 2s, background 1s;
}

.transition:hover {
    height: 200px;
    width: 300px;
    background: purple;
}


/* Tableta */
@media (max-width: 1024px) {
    .box {
        background: blue;
    }
}

/* Mobil */
@media (max-width: 767px) {
    .box {
        background: yellow;
    }
}

@media (max-width: 400px) {
    .box {
        background: black;
    }
}

/*Alte tipuri */
@media (min-width: 320px) and (max-width: 400) {}
@media (min-width: 600px) {}

/* Print */
@media print {}