@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.header {
    background: #1a54e6;
    padding: 15px 10px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 100%;
}

.logo a {
    color: #ffffff;
    text-decoration: none;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 5px;
}

.logo {
    float: left;
}

.menu-wrapper {
    float: right;
    width: 500px;
    text-align: right;
}

.menu li {
    display: inline-block;
    margin: 0 5px;
}

.menu a.active,
.menu li a:hover {
    border-bottom: 3px solid #ffffff;
    padding-bottom: 11px;
}

.banner {
    max-width: 100%;
}

.banner-user {
    border-radius: 50%;
}

.banner-info p {
    color: white;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
}

.banner-info {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}

.intro-section {
    position: relative;
}

.banner-btn {
    width: 30px;
    height: 30px;
    background: #ffffff;
    position: absolute;
    top: 85px;
    border: none;
}

.banner-right-btn {
    right: 0;
}

.flag {
    padding: 7px 13px;
    color: #ffffff;
    font-size: 13px;
    position: absolute;
    left: 0;
}

.flag-people {
    background: #1a54e6;
}

.flag-tech {
    background: #000000;
}

.flag-trip {
    background: #d90446;
}

.flag-nature {
    background: #58b600;
}

.flag-fashion {
    background: #8200b2;
}


.intro-section .flag {
    bottom: 20px;
    left: 6%;
}

.negative-margin {
    margin: 0 -1%;
    display: inline-block;
    width: 100%;
}

.one-column {
    width: 100%;
    float: none;
    margin: 0 1%;
    position: relative;
}

.two-columns {
    float: left;
    width: 48%;
    margin: 0 1%;
}

.three-columns {
    float: left;
    width: 31.3%;
    margin: 0 1%;
}

.latest-news {
    background: #f6f6f6;
}

/* News item */
.news {
    margin-top: 20px;
    margin-bottom: 20px;
}

.news-head {
    position: relative;
}

.news-head .flag  {
    position: absolute;
    bottom: 20px;
}

.news-head img {
    width: 100%;
    max-height: 170px;
}

.news-description p {
    font-size: 13px;
    line-height: 14px;
    padding: 8px 0;
}

.news-description span {
    font-size: 12px;
    color: grey;
    border-right: 1px solid grey;
    padding-right: 10px;
}

.news-description a {
    font-size: 12px;
    margin-left: 5px;
}

.one-column .news-intro {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 70px;
    text-align: center;
    color: #ffffff;
}

.news-intro .title {
    font-size: 30px;
}

.news-intro p {
    font-size: 20px;
}

.one-column .news-info {
    position: absolute;
    bottom: 20px;
    right: 0;
    padding: 5px;
    background: rgba(0,0,0,0.5);
    min-width: 150px;
    text-align: center;
}

/* Newsletter Block */
.newsletter {
    background: #1a54e6;
    padding: 50px 0;
    color: #ffffff;
    text-align: center;
}

.newsletter-title {
    font-size: 40px;
}

.newsletter-subtitle {
    font-style: 30px;
    opacity: 0.5;
    margin: 10px 0;
}

.newsletter-input-wrapper {
    margin-top: 30px;
    max-width: 350px;
    margin: 40px auto 0;
    position: relative;
}

.newsletter-input-wrapper input[type="submit"],
.newsletter-input-wrapper input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.newsletter-input-wrapper input[type="text"] {
    width: 100%;
    background: #2c6dff;
    padding-right: 110px;
    color: #ffffff;
}

.newsletter-input-wrapper input[type="submit"] {
    position: absolute;
    color: #1a54e6;
    width: 100px;
    text-align: center;
    font-weight: bold;
    background: #ffffff;
    top: 0;
    right: 0;
}

.footer {
    font-size: 13px;
    text-align: center;
    color: grey;
    padding: 50px 0;
    line-height: 17px;
    opacity: 0.7;
}