header {
    background-color: #f2f2f2;
    border-bottom: 2px solid #cccccc;
    padding: 10px 0;
    
    .logo {
        float: left;

        a {
            font-size: 25px;
            text-decoration: none;
            color: #333333;

            span {
                color: #4CAF50;
            }
        }
    }

    .logo-text {
        float: right;
        text-transform: uppercase;
        margin-top: 10px;
        letter-spacing: 3px;
    }
}