nav {
	background-color: #4CAF50;
	color: #ffffff;
	text-transform: uppercase;
	padding: 25px 0;

	ul {
		float: left;

		li {
			float: left;
			margin-right: 15px;

			&:last-child {
				margin-right: 0;
			}

			svg {
				margin-left: 5px;
			}

			.submenu {
				display: none;

				&.show {
					display: block;
				}
			}
		}
	}

	.mini-search {
		float: right;

		.search-input {
			display: none;

			&.show {
				display: inline-block;
			}
		}
	}
}