body {
    padding-top: 30px;
    height: 1000px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: beige;
    height: 30px;
}

.column-left {
    float: left;
    width: 25%;
    height: 300px;
}

.column-left-1 {
    height: 250px;
    background: red;
}

.column-left-2 {
    height: 50px;
    background: yellow;
}

.column-center {
    float: left;
    width: 50%;
    background: grey;
    height: 300px;
}

.column-right {
    float: left;
    width: 25%;
    height: 300px;
}

.column-right-1 {
    height: 250px;
    background: aquamarine;
}

.column-right-2 {
    height: 50px;
    background: lightblue;
}