@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/* Variable */
$primary-color: purple;
$font-color: yellow;
$date-color: magenta;

$text-style: 'Roboto', sans-serif;

/* Mixins */
@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin positionAbsolute($x, $y, $z, $q) {
    position: $x;
    top: $y;
    right: $z;
    left: $q;
}


* {
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.header {
    background: $primary-color;
    padding: 15px 10px;
    color: $font-color;
    font-family: $text-style;
    display: inline-block;
    width: 100%;
}

.logo {
    float: left;

    a {
        color: $font-color;
        text-decoration: none;
    }
}


.menu-wrapper {
    float: right;
    width: 500px;
    text-align: right;

    .menu {
        a {
            color: $font-color;
            text-decoration: none;
            padding: 0 5px;

            &.active,
            &:hover {
                border-bottom: 3px solid $font-color;
                padding-bottom: 11px;
            }
        }

        li {
            display: inline-block;
            margin: 0 5px;
        }
    }
}

.banner {
    max-width: 100%;
}

.banner-user {
    @include borderRadius(50% 3px 10px 40px);
}

.banner-info {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;

    p {
        color: $font-color;
        font-size: 20px;
        line-height: 22px;
        font-weight: bold;
    }
}

.intro-section {
    position: relative;
}

.banner-btn {
    width: 30px;
    height: 30px;
    background: $font-color;
    position: absolute;
    top: 85px;
    border: none;
}

.banner-right-btn {
    right: 0;
}

.flag {
    padding: 7px 13px;
    color: $font-color;
    font-size: 13px;
    position: absolute;
    left: 0;
}

.flag-people {
    background: $primary-color;
}

.flag-tech {
    background: #000000;
    @extend .flag;
    /*padding: 7px 13px;
    color: $font-color;
    font-size: 13px;
    position: absolute;
    left: 0;*/
}

.flag-trip {
    background: #d90446;
}

.flag-nature {
    background: #58b600;
}

.flag-fashion {
    background: #8200b2;
}


.intro-section .flag {
    bottom: 20px;
    left: 6%;
}

.negative-margin {
    margin: 0 -1%;
    display: inline-block;
    width: 100%;
}

.one-column {
    width: 100%;
    float: none;
    margin: 0 1%;
    position: relative;
}

.two-columns {
    float: left;
    width: 48%;
    margin: 0 1%;
}

.three-columns {
    float: left;
    width: 31.3%;
    margin: 0 1%;
}

.latest-news {
    background: #f6f6f6;
}

/* News item */
.news {
    margin-top: 20px;
    margin-bottom: 20px;
}

.news-head {
    position: relative;
}

.news-head .flag  {
    position: absolute;
    bottom: 20px;
}

.news-head img {
    width: 100%;
    max-height: 170px;
}

.news-description p {
    font-size: 13px;
    line-height: 14px;
    padding: 8px 0;
}

.news-description span {
    font-size: 12px;
    color: $date-color;
    border-right: 1px solid $date-color;
    padding-right: 10px;
}

.news-description a {
    font-size: 12px;
    margin-left: 5px;
}

/*// @mixin positionAbsolute($position, $top, $right, $left)*/
.one-column .news-intro {
    @include positionAbsolute(absolute, initial, 0, 0);
    /*position: absolute;
    left: 0;
    right: 0;*/
    margin: 0 auto;
    bottom: 70px;
    text-align: center;
    color: $font-color;
}

.news-intro .title {
    font-size: 30px;
}

.news-intro p {
    font-size: 20px;
}

.one-column .news-info {
    position: absolute;
    bottom: 20px;
    right: 0;
    padding: 5px;
    background: rgba(0,0,0,0.5);
    min-width: 150px;
    text-align: center;
}

/* Newsletter Block */
.newsletter {
    background: $primary-color;
    padding: 50px 0;
    color: $font-color;
    text-align: center;
}

.newsletter-title {
    font-size: 40px;
}

.newsletter-subtitle {
    font-style: 30px;
    opacity: 0.5;
    margin: 10px 0;
}

.newsletter-input-wrapper {
    margin-top: 30px;
    max-width: 350px;
    margin: 40px auto 0;
    position: relative;
}

.newsletter-input-wrapper input[type="submit"],
.newsletter-input-wrapper input[type="text"] {
    padding: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    border: none;
}

.newsletter-input-wrapper input[type="text"] {
    width: 100%;
    background: #2c6dff;
    padding-right: 110px;
    color: $font-color;
}

.newsletter-input-wrapper input[type="submit"] {
    position: absolute;
    color: #1a54e6;
    width: 100px;
    text-align: center;
    font-weight: bold;
    background: $font-color;
    top: 0;
    right: 0;
}

.footer {
    font-size: 13px;
    text-align: center;
    color: $date-color;
    padding: 50px 0;
    line-height: 17px;
    opacity: 0.7;
}

.news-head {
    img {
        width: 50%;

        & + span {
            @include borderRadius(10px);        
        }

    }
}






