* {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  color: #666666;
  font-size: 12px;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif, Arial; }

section {
  display: inline-block;
  width: 100%; }

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px; }

.width-50 {
  width: 48%; }

main {
  clear: both; }

header {
  padding: 10px 0;
  display: inline-block;
  width: 100%; }
  header span {
    margin-right: 50px;
    padding: 5px 0;
    display: inline-block; }

.search-area {
  display: inline-block;
  float: right;
  position: relative; }
  .search-area input[type="text"] {
    border: none;
    background: #e1e1e1;
    border-radius: 25px;
    padding: 5px 27px 5px 10px; }
    .search-area input[type="text"]:focus {
      outline: none; }
  .search-area button {
    position: absolute;
    top: 2px;
    right: 3px;
    border-radius: 50%;
    background: #000000;
    border: none;
    color: #ffffff;
    padding: 2px;
    height: 20px;
    width: 20px; }

.navigation-bar {
  background: #222222;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 3px solid #7C9C37;
  float: left;
  margin-bottom: 10px; }
  .navigation-bar .logo {
    float: left; }
  .navigation-bar .burger-menu {
    display: none;
    width: 50px;
    height: 50px;
    background: #ffffff;
    opacity: 0.5;
    cursor: pointer;
    float: right;
    margin-top: 12px; }
    .navigation-bar .burger-menu img {
      width: 100%; }
  .navigation-bar nav {
    float: right;
    margin: 45px 0 0; }
    .navigation-bar nav ul li {
      display: inline-block;
      border-right: 2px solid #828282;
      padding: 0 10px; }
      .navigation-bar nav ul li:hover span:first-child {
        color: #607530; }
      .navigation-bar nav ul li:last-child {
        border: none;
        padding-right: 0; }
      .navigation-bar nav ul li a {
        text-decoration: none;
        color: #ffffff; }
      .navigation-bar nav ul li span {
        display: block; }
        .navigation-bar nav ul li span:first-child {
          text-transform: uppercase; }
        .navigation-bar nav ul li span:last-child {
          text-transform: lowercase; }

.carousel {
  position: relative; }
  .carousel img {
    width: 100%; }
  .carousel .btn-wrapper {
    position: absolute;
    top: calc(50% - 20px);
    max-width: 960px;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .carousel button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #656565;
    color: #f2f2f2;
    background: #000000;
    font-size: 20px;
    position: absolute; }
    .carousel button.prev-btn {
      left: 0; }
    .carousel button.next-btn {
      right: 0; }

.js-carousel .slick-next {
  right: 0; }
.js-carousel .slick-prev {
  left: 0; }
.js-carousel .slick-next,
.js-carousel .slick-prev {
  background: rgba(0, 0, 0, 0.3);
  z-index: 1; }

.intro-text {
  text-align: center;
  font-size: 28px;
  font-style: italic;
  color: #000000;
  line-height: 1.3;
  margin-bottom: 25px; }
  .intro-text p {
    border-bottom: 1px solid #656565;
    padding: 50px 0;
    position: relative; }
    .intro-text p:after {
      content: "";
      width: 100px;
      height: 3px;
      background: #000000;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto; }
    .intro-text p:before {
      content: "";
      width: 100px;
      height: 3px;
      background: red;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto; }

.product-list {
  display: inline-block;
  width: 100%; }
  .product-list li {
    width: 23.5%;
    float: left;
    margin-right: 2%; }
    .product-list li:last-child {
      margin-right: 0; }
  .product-list article {
    margin: 20px 0; }
    .product-list article.selected {
      border: 1px solid red; }
    .product-list article img {
      width: 100%; }
    .product-list article .product-detail {
      padding: 10px 10px 0; }
      .product-list article .product-detail h1 {
        font-size: 18px;
        color: #7C9C37;
        font-weight: bold;
        margin-bottom: 5px; }

.link {
  text-decoration: none;
  color: #7C9C37;
  font-size: 12px; }

.section-title {
  font-size: 16px;
  color: #656565;
  border-bottom: 1px solid #656565;
  padding-bottom: 5px;
  margin-bottom: 15px; }
  .section-title a {
    float: right; }

.users-profile article {
  width: 48%;
  float: left;
  margin-right: 4%; }
  .users-profile article:last-child {
    margin-right: 0; }
  .users-profile article img {
    width: 100%; }
  .users-profile article .user-detail {
    margin-top: 5px;
    line-height: 1.5; }

.profile-users-wrapper {
  float: right; }

.news-items-wrapper {
  float: left;
  width: 48%;
  margin-right: 4%; }
  .news-items-wrapper:last-child {
    margin-right: 0; }

.news-item {
  position: relative;
  padding-left: 58px;
  margin: 0 0 15px; }
  .news-item img {
    position: absolute;
    top: 0;
    left: 0; }
  .news-item h1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px; }

.icons .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/icons.png") no-repeat 0 0 red; }
.icons .music {
  background-position: -39px -42px; }

@media (max-width: 1024px) {
  .navigation-bar {
    text-align: center; }
    .navigation-bar .logo {
      float: none; }
    .navigation-bar nav {
      float: none;
      margin-top: 25px; }

  .intro-text {
    font-size: 18px; }
    .intro-text p {
      padding: 30px 0; }

  .product-list li {
    width: 48%;
    margin-right: 4%; }
    .product-list li:nth-child(2n) {
      margin-right: 0; }

  .width-50 {
    width: 100%;
    float: none;
    display: inline-block; }

  .profile-users-wrapper,
  .news-wrapper {
    margin-bottom: 30px; } }
@media (max-width: 767px) {
  header span {
    margin-right: 0; }
    header span:first-child {
      float: left; }
    header span + span {
      float: right; }
  header .search-area {
    width: 100%;
    margin-top: 10px; }
    header .search-area input[type="text"] {
      width: 100%; }

  .navigation-bar .burger-menu {
    display: inline-block;
    /*&:hover + nav {
        ul {
            display: block;
        }
    }*/ }
  .navigation-bar nav ul.opened {
    display: block; }
  .navigation-bar nav {
    margin-top: 12px; }
    .navigation-bar nav ul {
      display: none; }
      .navigation-bar nav ul li {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #828282;
        margin: 2px 0;
        padding: 2px 0; }
  .navigation-bar .logo {
    float: left; }

  .users-profile article {
    width: 100%;
    margin-bottom: 20px; }

  .news-items-wrapper {
    width: 100%; }
    .news-items-wrapper .news-item {
      margin-bottom: 20px;
      min-height: 48px; } }

/*# sourceMappingURL=final.css.map */
